<header class="header">
  <div class="header-blocks header-logo">
    <img src="../../../assets/img/logo_sellIt.png" alt="">
  </div>
  <div class="header-blocks header-search">
    <input type="search" id="search" placeholder="Try find something">
    <img src="../../../assets/img/search-icon.png" alt="">
  </div>
  <div class="header-blocks header-user-block">
    <div class="header-user-block__block header-user-block__icon">
      <img src="../../../assets/img/user-1.jpg" alt="">
    </div>
    <div class="header-user-block__block header-user-block__name">Kim Evans</div>
    <div class="header-user-block__block header-user-block__sign-out-icon">
      <img src="../../../assets/img/sing-out.png" alt="">
    </div>
  </div>
</header>
