<app-header></app-header>

<main class="main">
  <div class="main-container">
    <div class="main-container-slider-block">
      <div class="my-slider">
        <div>
          <img class="slides" src="../../assets/img/slider-img.jpg" alt="">
        </div>
        <div>
          <img class="slides" src="../../assets/img/slider-img.jpg" alt="">
        </div>
        <div>
          <img class="slides" src="../../assets/img/slider-img.jpg" alt="">
        </div>
      </div>
      <div class="slider__arrow">
        <img class="slider_arrow-next" src="../../assets/img/arrow-right.png" alt="">
      </div>
    </div>
    <div class="main-container-description">
      <h3>Some title text must be here maybe second line</h3>
      <div class="main-container-description-price">
        <p>from
          <span class="main-container-description-price__user-name">Alise Kim</span>
          <span class="main-container-description-price__price">18000$</span>
        </p>
      </div>
      <div class="main-container-description-paragraphs">
        <p class="main-container-description-price-paragraph">
          Some description text from WYSIWYG editer
        </p>
        <p class="main-container-description-price-paragraph">Can be
          <span class="span__bold">BOLD</span>
          <span class="span__italic">Italic</span>
        </p>
        <p class="main-container-description-price-paragraph">
          <ul>Can have list:
            <li>first</li>
            <li>second</li>
          </ul>

        <p class="main-container-description-price-paragraph">
          <span class="span__bold">And anything from WYSIWYG editor</span>
        </p>
        <p class="main-container-description-price-paragraph">
          <span class="span__bold">Some line</span> <br>
          <span>Some line</span><br>
          <span class="span__italic">Some line</span>
        </p>
        <p class="main-container-description-price-paragraph">
          <span class="span__bold">Finished on this line.</span>
        </p>
      </div>
    </div>
    <div class="main-container-chat">
      <h3>Chat
        <span>with
                        <span class="main-container-chat__user2-name">Alis Kim</span>
                        <span class="main-container-chat__green-square">
                            <img src="../../assets/img/green-square.png" alt="">
                        </span>
                    </span>
      </h3>
      <div class="main-container-chat__chat">
        <div class="main-container-chat-area">
          <div class="main-container-chat-area-one-line">
            <div class="main-container-chat-area-one-line__img">
              <img src="../../assets/img/user-2.jpg" alt="">
              <p>One line chat message</p>
            </div>
          </div>
          <div class="main-container-chat-area-multi-line">
            <div class="main-container-chat-area-multi-line__text">
              <p>
                Multi line chat message. Some  text for multi line message. What is your
                name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your
                contacts. May be your facebook page or some think alse. How much cost this
                t shirt?
              </p>
            </div>
            <div class="main-container-chat-area-multi-line__user-img">
              <img src="../../assets/img/user-1.jpg" alt="user1 img">
            </div>
          </div>
          <div class="main-container-chat-area-input">
            <input type="text" placeholder="Type some text here">
            <img src="../../assets/img/send-chat.png" alt="">
          </div>
        </div>
        <div class="main-container-chat-connected">
          <h4>Connected</h4>
          <div class="main-container-chat-connected-users">
            <img src="../../assets/img/user-2.jpg" alt="">
            <p>Alis Kim</p>
          </div>
          <div class="main-container-chat-connected-users">
            <img src="../../assets/img/user-1.jpg" alt="">
            <p>Kim Evans</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
