<main class="login-page-container">
  <section class="section-image">
    <img src="../../assets/img/login-page/login-page_section.jpg" alt="">
  </section>
  <section class="section-registration">
    <div class="section-registration_logo">
      <img src="../../assets/img/login-page/login-page_logo.png" alt="">
    </div>
    <form id="registration" class="section-registration_form">
      <div class="section-registration__buttons">
        <button class="register__button sign-in">Sign In</button>
        <button class="register__button sign-up">Sign Up</button>
      </div>
      <input type="email" id="emailAdress" class="section-registration_form__input email-adress" placeholder="Email">
      <input type="password" id="password" class="section-registration_form__input password" placeholder="Password">
      <input type="submit" value="Login" id="loginButton" class="register__button section-registration_form__login">
    </form>
    <div class="section-registration__footer">
      Frontend labs 2017
    </div>
  </section>
</main>
