<app-header></app-header>

<main class="main">

  <div class="main-container_product-list">
    <div class="product-container">
      <div class="product-container_img product_img__clothes">
        <img src="../../assets/img/product-list/clothes.jpg" alt="">
      </div>
      <div class="product-container_description">
        <div class="product_title">{{name}}</div>
        <!--<input type="text" [value]="name">-->
        <!--<input type="text" [(ngModel)]="name" placeholder="name"/>-->
        <input type="text" [(ngModel)]="name" />
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__clothing-shop">
        <img src="../../assets/img/product-list/clothing-shop.jpg" alt="">
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop2">
        <img src="../../assets/img/product-list/laptop2.jpg" alt="">
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop">
        <img src="../../assets/img/product-list/laptop.jpg" alt="">
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>
  </div>




  <div class="main-container_product-list">

    <div class="product-container">
      <div class="product-container_img product_img__clothes">
        <!--<img src="../../assets/img/product-list/clothes.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__clothing-shop">
        <!--<img src="../../assets/img/product-list/clothing-shop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop2">
        <!--<img src="../../assets/img/product-list/laptop2.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop">
        <!--<img src="../../assets/img/product-list/laptop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="main-container_product-list">

    <div class="product-container">
      <div class="product-container_img product_img__clothes">
        <!--<img src="../../assets/img/product-list/clothes.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__clothing-shop">
        <!--<img src="../../assets/img/product-list/clothing-shop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop2">
        <!--<img src="../../assets/img/product-list/laptop2.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop">
        <!--<img src="../../assets/img/product-list/laptop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="main-container_product-list">

    <div class="product-container">
      <div class="product-container_img product_img__clothes">
        <!--<img src="../../assets/img/product-list/clothes.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__clothing-shop">
        <!--<img src="../../assets/img/product-list/clothing-shop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop2">
        <!--<img src="../../assets/img/product-list/laptop2.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-container_img product_img__laptop">
        <!--<img src="../../assets/img/product-list/laptop.jpg" alt="">-->
      </div>
      <div class="product-container_description">
        <div class="product_title">Product title</div>
        <div class="product_see">
          <img src="../../assets/img/product-list/eye.png" alt="">
        </div>
      </div>
    </div>
  </div>
</main>

<button class="scroll-top" (click)="scrollTop()">
  <i class="fas fa-arrow-up fa-3x"></i>
</button>

<app-footer></app-footer>
