@import "../../../styles/variables";

.footer {
  background-color: $main-color;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  float: left;
  width: 100%;
  .footer-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

@media (min-width : 768px) and (max-width : 980px) {
  .footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
}
